#carousel {
    width:    200px;
    position: relative;
    top:      100px;
    left:     100px;
}

#carousel div {
    width:    200px;
    height: 200px;
    background-color: lightblue;
    color: white;
    text-align: center;

}

.slick-prev::before, .slick-next::before {
    color:    silver;
}

.prev_hidden .next_hidden {
    display: none;
}