#carousel {

    width:    200px;
    position: relative;
    top:      100px;
    left:     100px;
}

#carousel div {
    width:    200px;
    height: 200px;
    background-color: lightblue;
    color: white;
    text-align: center;

}

#carousel span {
    vertical-align: middle;
}

.fa-chevron-right {
    float: right;
    position:relative;
    bottom:105px; 
    cursor: pointer; 
    cursor: hand;
    color: lightblue;
}
.fa-chevron-left { 
    float:left;
    position:relative;
    bottom:105px; 
    cursor: pointer; 
    cursor: hand;
    color: lightblue;
}
#carousel:hover > .fa-chevron-left {
    color: #fff;
}
#carousel:hover > .fa-chevron-right {
    color: #fff;
}
